html {
	overflow: hidden;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	padding: 40px 0 100px 0;
	box-sizing: border-box;
	background: #d1c5b7;
}

body {
	overflow: auto;
	position: relative;
	min-height: 100%;
	margin: 0 0 40px;
	padding: 20px 20px 20px 100px;
	border: 4px solid #d1c5b7;
	border-radius: 12px;
	box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
	/*font: 13px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font: 13px/20px Helmet, Freesans, sans-serif;
	color: #333;
	background-color: #d1c5b7;
}

header {
	overflow: hidden;
	margin: 0 auto;
	border: 4px solid #735d41;
	border-radius: 12px;
	box-shadow: inset 5px 5px 25px rgba(0,0,0,.5);
	background: #735d41;
}

/* We like off-black for text. */
select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }



	
	h12	{position: absolute; margin-left: -70px;  padding: 0; white-space: nowrap;
		 font: 36px "Helvetica Neue" , Arial, Helvetica, sans-serif; text-transform: uppercase;
		 color: #aaa; text-align: right;
		 /* CSS transforms, available in Safari/Chrome, Firefox 3.5+, Opera 10.5+ */
		 -webkit-transform-origin: left top; -webkit-transform: rotate(270deg) translateX(-100%);
		    -moz-transform-origin: left top;    -moz-transform: rotate(270deg) translateX(-100%);
		      -o-transform-origin: left top;      -o-transform: rotate(270deg) translateX(-100%);
		 /* Internet Explorer 8 rotate */
		 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
	h12 sup	{vertical-align: top; font-size: 22px;}
	
	p	{margin: 20px 0 0 0; padding: 0;}
	
	div		{display: none;}
	div:target	{display: block;}






/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}