html {
	font-family: Georgia, serif;
	font-size:16px;
	height:100%;
	background: #856941;
	box-sizing: border-box;
}

body {
	font-family: Georgia, serif;
	font-size:16px;
	height:100%;
	background-color:#856941;
	background: #856941;
}

h1, h2, h3, h4, h5, h6 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
p {
	margin: 11px 0;
}

.shoutOut {
	font-family:arial;
	text-align:center;
	background-color:#735d41;
	background: #735d41;
	margin-bottom:22px;
	border-bottom:1px solid rgba(0,0,0, 0.2);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1)
}
.shoutOut li {
	display:inline-block;
	margin-left:40px;
}
.shoutOut li a {
	font-weight:bold;
	display:block;
	padding: 10px;
	color:#000;
}
.shoutOut li a:hover {
	background
}

.wrapper {
	background-color:#d1c5b7;
	background: #d1c5b7;
	width:960px;
	margin:0 auto;
	padding:0 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0px 0px 30px rgba(0, 0, 0, 0.15);
	min-height:100%;
}

div #fpscroll {
	background-color:#0193b7;
	background: #0193b7;
	width:400px;
	margin:0 auto;
	padding:0 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3), inset 0px 0px 30px rgba(0, 0, 0, 0.15);
	min-height:100%;
}

header {
	font-size:80px;
	font-family: sans-serif;
	text-align:center;
	margin-bottom:22px;
	border-bottom:1px solid #000;
	padding: 30px 0 10px;
}
header h1 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}

nav {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	float:left;
	margin-right:10px;
	border-top:none;
	width:215px;
}
nav li {
	padding:10px;
}
nav li a {
	font-family: sans-serif;
	font-weight:bold;
	color:#707070;
	text-transform:uppercase;
}

article {
	padding: 10px;
	line-height:22px;
	float:left;
	padding-top:0;
	width:500px;
}
article h1 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
	font-size:18px;
	text-transform:uppercase;
}
article h2 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
	font-size:18px;
	text-transform:uppercase;
}
article h3 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
	font-size:16px;
}
article p {
	color:#333333;
}

aside {
	padding: 10px;
	line-height:22px;
	float:left;
	padding-top:0;
	width:215px;
}
aside h1 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
	font-size:18px;
	text-transform:uppercase;
}
aside h2 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-weight:bold;
	font-size:16px;
}
aside h3 {
	margin:11px 0;
	margin-top:0px;
	font-family: sans-serif;
	font-size:16px;
}
aside p {
	color:#707070;
}
aside li {
	color:#707070;
}
aside li a {
	color:#707070;
}

footer {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	clear:both;
	font: 13px/20px sans-serif;
	color:#707070;
}
footer p {
	padding:10px;
	text-align:center;
}
footer a {
	color:#000;
}
